/*a {
  color: #1abc9c;
}
a: hover {
  color: #2fe2bf;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 10px 0;
}
h1 {
  font-size: 180%;
}
h2 {
  font-size: 150%;
}
h3 {
  color: #95A5A6;
}
.container {
  margin: 5px auto;
  width: 80%;
}
.row {
  margin: 5px 0;
  padding: 5px;
}*/
.flat-butt {
  display: inline-block;
  margin: 0 5px 0 0;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  font-size: 16.5px;
  text-decoration: none;
  padding: 12px 20px;
  border: 0;
  background: #34495E;
  color: #FFF;
  cursor: pointer;
  outline: 0;
  padding: 11px 20px;
  box-shadow: #BDC3C7 2px 2px 0px;
}
.flat-butt:hover {
  background: #005580;
  text-decoration: none;
  color: #ffffff;
}
.flat-primary-butt {
  background: #1abc9c;
}
.flat-primary-butt:hover {
  background: #2fe2bf;
}
.flat-info-butt {
  background: #3498db;
}
.flat-info-butt:hover {
  background: #5dade2;
}
.flat-danger-butt {
  background: #e74c3c;
}
.flat-danger-butt:hover {
  background: #ec7063;
}